body {
	display: grid;
	grid-template-columns: auto 1fr;
	justify-items: center;
}

body dialog#book-form > form > div {
	margin-bottom: 1rem;
}

body dialog#book-form > form > div > button {
	display: block;
	margin-bottom: 1rem;
}

body .container#buttons {
	grid-column: 1;
	border: solid 1px red;
	display: grid;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
	gap: 25px;
}

body .container#display {
	grid-column: 2;
	border: solid 1px green;
	display: grid;
	padding: 10px;
	gap: 25px;
}

body .container#display > .card {
	border: solid 1px blue;
}