body {
	display: grid;
	grid-template-columns: auto 1fr;
	justify-items: center;
}

body .container#buttons {
	grid-column: 1;
	border: solid 1px red;
	display: grid;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
	gap: 25px;
}

body .container#display {
	grid-column: 2;
	border: solid 1px green;
	display: grid;
}